
.fl{
position:absolute;
top:10px;

font-size:35px;


}

.hhh{
position:absolute;
top:290px;
left:320px;
font-size:35px;
color:red;

}

.zxc{
position:absolute;
top:370px;
left:390px;
font-size:35px;


}

.zxcv{
position:absolute;
top:370px;
left:490px;
font-size:35px;


}

.zxcvb{
position:absolute;
top:370px;
left:610px;
font-size:35px;


}

.zxcvbn{
position:absolute;
top:370px;
left:730px;
font-size:35px;


}

.zxcvbnm{
position:absolute;
top:370px;
left:860px;
font-size:35px;


}

.face{
	position:absolute;
	top:50px;
	left:523px;
}
